<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cear Factura</title>
    <meta charset="UTF-8">
    </meta>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
    <style>
        body {font-family: 'Nunito';}

        .box {
            overflow: hidden;
            margin-top: 5px;
        }

        .caja_reloj {float: left;}

        .reloj {
            font-size: 12px;
            display: flex;
        }

        #boton_user {
            display: flex;
            float: right;
        }

        .boton {
            margin-right: 20px;
            background: none;
            border: 2px solid #000;
            border-radius: 10px;
            padding: 6px 10px;
        }
        .boton:hover {background: #c5c3c39f;}

        .salir ul, ol {list-style: none;}
        .salir li ul{display: none; position: absolute;}
        .salir li:hover > ul{display: block;}
        .salir button{background: none; border:none;}

        .crud {text-align: center;}

        .crud input {
            border-radius: 4px;
            border: 1px solid #000;
            margin-left: 10px;
            margin-right: 5%;
        }

        .crud button {
            background: none;
            border-radius: 4px;
            border: 2px solid #000;
            margin-left: 10px;
            padding: 4px 10px;
        }

        .nombre {
            margin: 10px;
            font-size: small;
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <div class="box">
        <!--Overflow para evitar errores de posicionamiento float-->
        <div class="caja_reloj">
            <div class="reloj">
                <!--Reloj-->
                <p>Fecha: &nbsp;</p>
                <p id="dia"></p>
                <p>/</p>
                <p id="mes"></p>
                <p>/</p>
                <p id="year"></p>
                <p> &nbsp;</p>
                <p id="horas"></p>
                <p>:</p>
                <p id="minutos"></p>
                <p>:</p>
                <p id="segundos"></p>
                <p> &nbsp;</p>
                <p id="ampm"> </p>
            </div>
            <script type="text/javascript">
                var fecha = function () {
                    var d = new Date(),
                        dia = +d.getDate(),
                        mes = d.getMonth() + 1,
                        year = d.getFullYear(),
                        horas = d.getHours(),
                        minutos = d.getMinutes(),
                        segundos = d.getSeconds(),
                        ampm;

                    var pDia = document.getElementById("dia"),
                        pMes = document.getElementById("mes"),
                        pYear = document.getElementById("year"),
                        pHoras = document.getElementById("horas"),
                        pMinutos = document.getElementById("minutos"),
                        pSegundos = document.getElementById("segundos"),
                        pAmpm = document.getElementById("ampm");

                    if (d.getDate() < 10) { dia = '0' + d.getDate(); }
                    if (d.getMonth() < 9) { mes = '0' + (d.getMonth() + 1); }
                    if (d.getHours() < 10) { horas = '0' + d.getHours(); ampm = ' AM'; }
                    if (d.getHours() == 12) { ampm = ' PM' }
                    if (d.getHours() > 12) { horas = '0' + d.getHours() - 12; ampm = ' PM' }
                    if (d.getMinutes() < 10) { minutos = '0' + d.getMinutes(); }
                    if (d.getSeconds() < 10) { segundos = '0' + d.getSeconds(); }

                    pDia.textContent = dia;
                    pMes.textContent = mes;
                    pYear.textContent = year;
                    pHoras.textContent = horas;
                    pMinutos.textContent = minutos;
                    pSegundos.textContent = segundos;
                    pAmpm.textContent = ampm;
                };
                fecha();
                var intervalo = setInterval(fecha, 1000);
            </script>
        </div>
        <div id="boton_user">
            <!--Botones Factura y Usuario-->
            <a href="/vendedores"><button type="submit" class="boton">Ir a Usuarios</button></a>
            <a href="/productosA"><button type="submit" class="boton">Ir a Productos</button></a>
            <div class="salir">
                <ul>
                    <li>
                        <div style="display:flex;border:2px solid #000;border-radius: 10px;padding: 5px 10px 2px;">
                            <!--Foto usuario, Nombre y Código-->
                            <img src="https://cdn.icon-icons.com/icons2/2643/PNG/512/male_boy_person_people_avatar_icon_159358.png"
                                alt="" height="60px" width="60px"></img>
                            <div class="nombre">
                                <div th:text="${nombre}"></div>
                                <div th:text="${rol}"></div>
                            </div>
                        </div>
                        <ul>
                            <li><a href="/salir"><button>Salir</button></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <h1>Busqueda de Facturas/informes</h1>
        <form th:action="@{/consultar/factura}" th:object="${factura}" method="post">
            <label> Número de factura </label>
            <input id="numerofactura" type="text" th:field="*{numeroFactura}" />
            <label> Código del Vendedor</label>
            <input id="codigovendedor" type="text" th:field="*{codigoVendedor}" />
            <br /> <br />
            <button type="submit">Consultar</button>
        </form>
        <h1>Eliminacion de Facturas</h1>
        <form th:action="@{/facturas/Borrar}" th:object="${factura}" method="post">
            <label> Número de factura </label>
            <input id="numerofactura" type="text" th:field="*{numeroFactura}" />
            <br /> <br />
            <button type="submit">Eliminar</button>
        </form>
        <h1>Forma para creación de Factura</h1>
        <form th:action="@{/crear/factura}" th:object="${factura}" method="post">
            <label> Número de factura </label>
            <input id="numerofactura" type="text" th:field="*{numeroFactura}" required />
            <label> Código del Producto </label>
            <input id="codigoproducto" type="text" th:field="*{codigoProducto}" required />
            <label> Fecha de venta </label>
            <input id="fecha" type="date" th:field="*{fechaVenta}" required /> <br /><br />
            <label> Código del Vendedor</label>
            <input id="codigovendedor" type="text" th:field="*{codigoVendedor}" required />
            <label> Precio del Producto ($)</label>
            <input id="valorfactura" type="text" th:field="*{valorFactura}" required />
            <br /> <br />
            <button type="submit">Agregar Factura</button>
        </form>
        <h1>Formulario edicion de facturas</h1>
        <form th:action="@{/facturas/Modificar}" th:object="${factura}" method="post">
            <label> Número de factura </label>
            <input id="numerofactura" type="text" th:field="*{numeroFactura}" />

            <label> Código del Producto </label>
            <input id="codigoproducto" type="text" th:field="*{codigoProducto}" />

            <label> Precio del Producto ($)</label>
            <input id="valorfactura" type="text" th:field="*{valorFactura}" />
            <br /> <br />
            <button type="submit">Editar Factura</button>
        </form>
        <h3>Lista de Facturas</h3>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col"><strong>No.Fac</strong></div>
                    <div class="col"><strong>Cod.Prod</strong></div>
                    <div class="col"><strong>Fecha</strong></div>
                    <div class="col"><strong>Cod.Vend</strong></div>
                    <div class="col"><strong>Valor.Facura</strong></div>
                </div>
            </div>
        </div>
        <div class="card" th:each="factura: ${facturas}">
            <div class="card-body">
                <div class="row">
                    <div class="col" th:text="${factura.numeroFactura}"></div>
                    <div class="col" th:text="${factura.producto.codProducto}"></div>
                    <div class="col" th:text="${factura.fechaVenta}"></div>
                    <div class="col" th:text="${factura.vendedor.codVendedor}"></div>
                    <div class="col" th:text="${factura.valorFactura}"></div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>