<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <title>Busqueda Facturas</title>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
        <style>
            body{font-family: Nunito;}
            .box{overflow: hidden;margin-top:5px;}
            .caja_reloj{float: left;}
            .reloj{font-size: 12px;display: flex;}
            .boton_user{display: flex;float: right;}
            .boton_user div{display: flex; margin-right: 40px;}
            .principal{text-align: center;}
            .principal label{margin-right: 5px;}
            .principal input{border: 1px solid#000; border-radius: 4px;height: 20px;margin-right: 40px;}
            .principal button{border: 2px solid #000; border-radius: 8px; padding: 6px 10px; background: none;}
        </style>
    </head>
    <body>
        <div class="box"><!--Overflow para evitar errores de posicionamiento float-->
            <div class="caja_reloj">
                <div class="reloj"><!--Reloj-->
                    <p>Fecha: &nbsp;</p>
                    <p id="dia"></p>
                    <p>/</p>
                    <p id="mes"></p>
                    <p>/</p>
                    <p id="year"></p>
                    <p>  &nbsp;</p>
                    <p id="horas"></p>
                    <p>:</p>
                    <p id="minutos"></p>
                    <p>:</p>
                    <p id="segundos"></p>
                    <p>  &nbsp;</p>
                    <p id="ampm"> </p>
                </div>
                <script type="text/javascript">
                    var fecha=function(){
                        var d=new Date(),
                        dia=+d.getDate(),
                        mes=d.getMonth()+1,
                        year=d.getFullYear(),
                        horas=d.getHours(),
                        minutos=d.getMinutes(),
                        segundos=d.getSeconds(),
                        ampm;
        
                    var pDia=document.getElementById("dia"),
                        pMes=document.getElementById("mes"),
                        pYear=document.getElementById("year"),
                        pHoras=document.getElementById("horas"),
                        pMinutos=document.getElementById("minutos"),
                        pSegundos=document.getElementById("segundos"),
                        pAmpm=document.getElementById("ampm");
        
                    if (d.getDate()<10){ dia='0'+d.getDate();}
                    if(d.getMonth()<9){mes='0'+(d.getMonth()+1);}
                    if(d.getHours()<10){horas='0'+d.getHours();ampm=' AM';}
                    if(d.getHours()==12){ampm=' PM'}
                    if(d.getHours()>12){horas='0'+d.getHours()-12;ampm=' PM'}
                    if(d.getMinutes()<10){minutos='0'+d.getMinutes();}
                    if(d.getSeconds()<10){segundos='0'+d.getSeconds();}
        
                    pDia.textContent=dia;
                    pMes.textContent=mes;
                    pYear.textContent=year;
                    pHoras.textContent=horas;
                    pMinutos.textContent=minutos;
                    pSegundos.textContent=segundos;
                    pAmpm.textContent=ampm;
                    };
                    fecha();
                    var intervalo=setInterval(fecha,1000);
                </script>
            </div>
            <div class="boton_user"><!--Botones Factura y Usuario-->
                <div style="border:2px solid #000;border-radius: 10px;padding: 5px 10px 2px;"><!--Foto usuario, Nombre y Código-->
                    <img src="https://cdn.icon-icons.com/icons2/2643/PNG/512/male_boy_person_people_avatar_icon_159358.png"
                        alt="" height="60px" width="60px"></img>
                    <p>Nombre Administrador<br>Código</p>
                </div>
            </div> 
        </div>
        <br>
        <h3>Ingrese el valor a buscar</h3> 
        <div class="principal">
            <form th:action="@{/facturas/buscar}" th:object="${factura}" method="post">
                <label>Número de la Factura</label>
                <input type="text" id="numeroFactura" th:field="*{numeroFactura}"><br><p>o</p>
                <label>Código del vendedor</label>
                <input type="text" id = "codigovendedor" th:field = "*{codigoVendedor}"><br><br>
                <button type="submit">Buscar</button>

            </form>
        </div>
    </body>
</html>