<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cear Factura</title>
        <meta charset="UTF-8"> </meta>

    </head>
    <body>
        <h1>Busqueda de Facturas/informes/Borrar</h1>
        <form th:action = "@{/facturas/Borrar}" th:object="${factura}" method="post">
            <label> Número de factura </label>
            <input id = "numerofactura" type="text" th:field ="*{numeroFactura}"/>
            <br/> <br/>               
            <button type = "submit">Eliminar</button>
        </form>
    </body>
</html>
