<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <title>Consultar Producto</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
        <style>
            body h3{font-family: Nunito;font-weight: 800;}
            .box{overflow: hidden;}
            .caja_reloj{float: left;}
            .reloj{font-size: 12px;display: flex; font-family: Nunito;}
            .titulo_boton{overflow: hidden;}
            .titulo_boton h3{float: left;}
            .titulo_boton > div{float:right;}
            .titulo_boton button{float: right;background: none;border-radius: 4px; border: 2px solid #000;margin-right: 20px; padding: 4px 10px;}
            .salir ul, ol {list-style: none;}
            .salir li ul{display: none; position: absolute;}
            .salir li:hover > ul{display: block;}
            .salir button{background: none; border:none;}
            .nombre {
                margin: 10px;
                font-size: small;
                font-weight: bolder;}
        </style>
    </head>

    <body>
        <div class="box">
            <div class="caja_reloj">
                <div class="reloj"><!--Reloj-->
                    <p>Fecha: &nbsp;</p>
                    <p id="dia"></p>
                    <p>/</p>
                    <p id="mes"></p>
                    <p>/</p>
                    <p id="year"></p>
                    <p>  &nbsp;</p>
                    <p id="horas"></p>
                    <p>:</p>
                    <p id="minutos"></p>
                    <p>:</p>
                    <p id="segundos"></p>
                    <p>  &nbsp;</p>
                    <p id="ampm"> </p>
                </div>
                <script type="text/javascript">
                    var fecha=function(){
                        var d=new Date(),
                        dia=+d.getDate(),
                        mes=d.getMonth()+1,
                        year=d.getFullYear(),
                        horas=d.getHours(),
                        minutos=d.getMinutes(),
                        segundos=d.getSeconds(),
                        ampm;
        
                    var pDia=document.getElementById("dia"),
                        pMes=document.getElementById("mes"),
                        pYear=document.getElementById("year"),
                        pHoras=document.getElementById("horas"),
                        pMinutos=document.getElementById("minutos"),
                        pSegundos=document.getElementById("segundos"),
                        pAmpm=document.getElementById("ampm");
        
                    if (d.getDate()<10){ dia='0'+d.getDate();}
                    if(d.getMonth()<9){mes='0'+(d.getMonth()+1);}
                    if(d.getHours()<10){horas='0'+d.getHours();ampm=' AM';}
                    if(d.getHours()==12){ampm=' PM'}
                    if(d.getHours()>12){horas='0'+d.getHours()-12;ampm=' PM'}
                    if(d.getMinutes()<10){minutos='0'+d.getMinutes();}
                    if(d.getSeconds()<10){segundos='0'+d.getSeconds();}
        
                    pDia.textContent=dia;
                    pMes.textContent=mes;
                    pYear.textContent=year;
                    pHoras.textContent=horas;
                    pMinutos.textContent=minutos;
                    pSegundos.textContent=segundos;
                    pAmpm.textContent=ampm;
                    };
                    fecha();
                    var intervalo=setInterval(fecha,1000);
                </script>
            </div>
        </div>
        <div class="titulo_boton">
            <h3>Busqueda de Productos</h3>
            <div>
                <div class="salir">
                    <ul>
                        <li>
                            <div style="display:flex;border:2px solid #000;border-radius: 10px;padding: 5px 10px 2px; margin-right: 10px;">
                                <!--Foto usuario, Nombre y Código-->
                                <img src="https://cdn.icon-icons.com/icons2/2643/PNG/512/male_boy_person_people_avatar_icon_159358.png"
                                    alt="" height="60px" width="60px"></img>
                                <div class="nombre">
                                    <div th:text="${nombre}"></div>
                                    <div th:text="${rol}"></div>
                                </div>
                            </div>
                            <ul>
                                <li><a href="/salir"><button>Salir</button></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="/volverP"><button>Volver</button></a>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col"><strong>Código</strong></div>
                    <div class="col"><strong>Nombre del Producto</strong></div>
                    <div class="col"><strong>Descripción</strong></div>
                    <div class="col"><strong>Precio</strong></div>
                </div>
            </div>
        </div>
        <div class="card" th:each="producto: ${productos}">
            <div class="card-body">
                <div class="row">
                    <div class="col" th:text="${producto.codProducto}"></div>
                    <div class="col" th:text="${producto.nombreProducto}"></div>
                    <div class="col" th:text="${producto.descripcionProducto}"></div>
                    <div class="col" th:text="${producto.precioProducto}"></div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>

</html>