<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <title>Listado Facturas</title>
        <meta charset="UTF-8"> </meta>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
        <style>
            body h3{font-family: Nunito;font-weight: 800;}
            .box{overflow: hidden;}
            .caja_reloj{float: left;}
            .reloj{font-size: 12px;display: flex; font-family: Nunito;}
            .titulo_boton{overflow: hidden;}
            .titulo_boton h3{float: left;}
            .titulo_boton button{float: right;background: none;border-radius: 4px; border: 2px solid #000;margin-right: 40px; padding: 4px 10px;}
        </style>
    </head>
    <body>
        <div class="box">
            <div class="caja_reloj">
                <div class="reloj"><!--Reloj-->
                    <p>Fecha: &nbsp;</p>
                    <p id="dia"></p>
                    <p>/</p>
                    <p id="mes"></p>
                    <p>/</p>
                    <p id="year"></p>
                    <p>  &nbsp;</p>
                    <p id="horas"></p>
                    <p>:</p>
                    <p id="minutos"></p>
                    <p>:</p>
                    <p id="segundos"></p>
                    <p>  &nbsp;</p>
                    <p id="ampm"> </p>
                </div>
                <script type="text/javascript">
                    var fecha=function(){
                        var d=new Date(),
                        dia=+d.getDate(),
                        mes=d.getMonth()+1,
                        year=d.getFullYear(),
                        horas=d.getHours(),
                        minutos=d.getMinutes(),
                        segundos=d.getSeconds(),
                        ampm;
        
                    var pDia=document.getElementById("dia"),
                        pMes=document.getElementById("mes"),
                        pYear=document.getElementById("year"),
                        pHoras=document.getElementById("horas"),
                        pMinutos=document.getElementById("minutos"),
                        pSegundos=document.getElementById("segundos"),
                        pAmpm=document.getElementById("ampm");
        
                    if (d.getDate()<10){ dia='0'+d.getDate();}
                    if(d.getMonth()<9){mes='0'+(d.getMonth()+1);}
                    if(d.getHours()<10){horas='0'+d.getHours();ampm=' AM';}
                    if(d.getHours()==12){ampm=' PM'}
                    if(d.getHours()>12){horas='0'+d.getHours()-12;ampm=' PM'}
                    if(d.getMinutes()<10){minutos='0'+d.getMinutes();}
                    if(d.getSeconds()<10){segundos='0'+d.getSeconds();}
        
                    pDia.textContent=dia;
                    pMes.textContent=mes;
                    pYear.textContent=year;
                    pHoras.textContent=horas;
                    pMinutos.textContent=minutos;
                    pSegundos.textContent=segundos;
                    pAmpm.textContent=ampm;
                    };
                    fecha();
                    var intervalo=setInterval(fecha,1000);
                </script>
            </div>
        </div>
        <div class="titulo_boton">
            <h3>Lista de Facturas</h3>
            <a href="/facturas"><button>Volver</button></a>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col"><strong>No.Fac</strong></div>
                    <div class="col"><strong>Cod.Prod</strong></div>
                    <div class="col"><strong>Fecha</strong></div>
                    <div class="col"><strong>Cod.Vend</strong></div>
                    <div class="col"><strong>Valor.Facura</strong></div>
                </div>
            </div>
        </div>
        <div class="card" th:each="factura: ${facturas}">
            <div class="card-body">
                <div class="row">
                    <div class="col" th:text="${factura.numeroFactura}"></div>
                    <div class="col" th:text="${factura.producto.codProducto}"></div>
                    <div class="col" th:text="${factura.fechaVenta}"></div>
                    <div class="col" th:text="${factura.vendedor.codVendedor}"></div>
                    <div class="col" th:text="${factura.valorFactura}"></div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
